In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
import pandas as pd
import numpy as np

In [18]:
data = [[7.2500, 'S', 'male', 22.0], [71.29, 'C', 'female', 38.0], [9, 'S', 'female', 26.0]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Fare', 'Embarked', 'Sex', 'Age']) 
  
# print dataframe. 
df

    Fare Embarked     Sex   Age
0   7.25        S    male  22.0
1  71.29        C  female  38.0
2   9.00        S  female  26.0

In [19]:
ohe = OneHotEncoder()
imp = SimpleImputer()

In [20]:
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']), 
    (imp, ['Age']),
    remainder = 'passthrough')

In [21]:
ct.fit_transform(df)

array([[ 0.  ,  1.  ,  0.  ,  1.  , 22.  ,  7.25],
       [ 1.  ,  0.  ,  1.  ,  0.  , 38.  , 71.29],
       [ 0.  ,  1.  ,  1.  ,  0.  , 26.  ,  9.  ]])